figures/developer-survey.png filter=lfs diff=lfs merge=lfs -text
figures/git[[:space:]]commit.png filter=lfs diff=lfs merge=lfs -text
figures/github-lfs.png filter=lfs diff=lfs merge=lfs -text
figures/github-pull-request.png filter=lfs diff=lfs merge=lfs -text
figures/github-tree-after-merge.png filter=lfs diff=lfs merge=lfs -text
